<div class="container">
    <%= form_for(event) do |f| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h3>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <!-- <div class="field"> -->
        <div class="row">
          <%= f.label :title %>
        </div>
        <div class="row">
          <%= f.text_field :title, placeholder: :title %>
        </div>
      <!-- </div> -->

      <!-- <div class="field"> -->
        <div class="row"> <%= f.label :event_type_id %> </div>
        <div class="row"> <%= f.collection_select(:event_type_id, EventType.all,
                      :id, :event_type, {:prompt => 'Select event type'}) %> </div>
      <!-- </div> -->

      <!-- <div class="field"> -->
        <div class="row"> <%= f.label :venue %> </div>
        <div class="row"> <%= f.text_field :venue %> </div>
      <!-- </div> -->

      <div class="field">
        <%= f.label :start %>
        <div class='input-group date' id='datetimepicker_start'>
          <%= f.text_field :start, class: 'form-control' %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>


      <div class="field">
        <%= f.label :end %>
        <div class='input-group date' id='datetimepicker_end'>
          <%= f.text_field :end, class: 'form-control' %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <script type="text/javascript">
      $(function () {
              $('#datetimepicker_start').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                sideBySide: true
              });
              $('#datetimepicker_end').datetimepicker({
                  useCurrent: false, //Important! See issue #1075
                  format: 'YYYY-MM-DD HH:mm',
                  //inline: true,
                  sideBySide: true,
                  //collapse: true
              });
              $("#datetimepicker_start").on("dp.change", function (e) {
                  $('#datetimepicker_end').data("DateTimePicker").minDate(e.date);
              });

              $("#datetimepicker_end").on("dp.change", function (e) {
                  $('#datetimepicker_start').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div class="field">
        <%= f.label :calendar_id %>
        <%= f.collection_select(:calendar_id, Calendar.all,
                      :id, :title, {:prompt => 'Select calendar'}) %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
</div>
