<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div class = "<%= event.event_type.event_type %>">
      <%= link_to event.title, event %>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Event', new_event_path %>|
<%= link_to 'New Calendar', new_calendar_path %>

<% content_for(:upper_side_bar) do %>
  <%= render 'calendars/calendar_list' %>
<% end %>

<% content_for(:lower_side_bar) do %>
  <%= render 'events/category_list' %>
<% end %>
