<!DOCTYPE html>
<html>
  <head>
    <title>CalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head

  <body>
    <%= render 'layouts/header'%>
    <div class="container">
      <% flash.each do |name, msg| %>
        <% if name == "notice" %>
          <%= content_tag :div, msg, class: "alert alert-success" %>
        <% elsif name == "alert"%>
          <%= content_tag :div, msg, class: "alert alert-danger" %>
        <% end %>
      <% end %>
      <div class="row row-fluid">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
