<!DOCTYPE html>
<html>
  <head>
    <title>CalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head

  <body>
    <%= render 'layouts/header'%>
    <div class="container">
      <% flash.each do |name, msg| %>
        <% if name == "notice" %>
          <%= content_tag :div, msg, class: "alert alert-success" %>
        <% elsif name == "alert"%>
          <%= content_tag :div, msg, class: "alert alert-danger" %>
        <% end %>
      <% end %>
      <div class="row row-fluid">
        <div class="col-md-12">
          <div class="row">
            <% if user_signed_in? %>
              <div class="col-md-9">
                <%= yield %>
              </div>
            <% else %>
              <div class="col-md-6 col-md-push-3">
                <%= yield %>
              </div>
            <% end %>
            <% if user_signed_in? %>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-*">
                    <div id="user-account-content">
                      <div class="list-group">
                        <strong class="list-group-item black">
                          <span class="glyphicon glyphicon-user"></span>
                          <%= current_user.email %>
                        </strong>
                          <div class="list-group-item">
                            <%= link_to('<span class="glyphicon glyphicon-cog"></span> Settings'.html_safe, edit_user_registration_path) %>
                          </div>
                          <div class="list-group-item">
                            <%= link_to('<span class="glyphicon glyphicon-off"></span> Sign out'.html_safe, destroy_user_session_path, method: 'delete') %>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-*">
                    <div id="upper-right-content">
                      <%= yield(:upper_side_bar) %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-*">
                    <div id="upper-right-content">
                      <%= yield(:event_action) %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-*">
                    <div id="lower-right-content">
                      <%= yield(:lower_side_bar) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
